/* 收货人样式 */
.address {
	position: relative;
	margin-top: 50px;
	padding: 20px 50px;
	background-color: #FFFFFF;
}
.address p {
	font-size: 22px;
	font-weight: 600;
}
.address .user {
	display: inline-block;
	width: 150px;
	height: 38px;
	font-size: 18px;
	text-align: center;
	border: 1px solid transparent;

}
.address .user:hover{
	border: 1px solid red;
}
.address .active{
	line-height: 38px;
	border: 1px solid red;
	background: url(../img/selected-icon.png) no-repeat bottom right;
}
.address .address-detail {
	display: inline-block;
	margin-left: 30px;
	height: 38px;
	line-height: 38px;
	font-size: 16px;
}

/* .address i {
	position: absolute;
	top: 84px;
	left: 215px;
	width: 15px;
	height: 15px;
	font-size: 12px;
	text-align: center;
	line-height: 15px;
	color: #FFFFFF;
	background-color: red;
} */